header {
    background-color: var(--header-bg);
    margin: auto;
    padding: 16px 32px;
    box-shadow: var(--header-bs);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    background-color: var(--mode-bg);
    border-radius: 50%;
    cursor: pointer;

}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.header-icons-mobile {
    background-color: var(--header-bg);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.user-icon,
.logout-icon {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background-color: var(--mode-bg);
    border-radius: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.5rem;
    cursor: pointer;
}

header h1 {
    color: var(--primary-color);
    font-family: "McLaren", cursive;
    font-weight: 200;
}

@media screen and (max-width: 570px) {
    header {
        gap: 20px;
        justify-content: center;
    }
}